body {
    text-align: left;
    max-width: 960px;
    width: 80%;
    margin: auto;
    font-size: 18px;
}

header {
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
}

nav {
    font-size: 0.8em;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profile-photo,
.vk-title {
    display: inline-block;
    vertical-align: middle;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.vk-title {
    margin-left: 20px;
}

h2 {
    padding: 15px 0px 10px 0px;
    margin: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

article {
    margin: 5px 0px;
}

.skills-list {
    padding-left: 10px;
}

.highlight {
    padding: 10px 10px 0px 10px;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
}

.education-date-inline {
    display: inline-block;
    margin-bottom: 0px;
}

.sub-list > li {
    padding-bottom: 5px;
}